<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
  </head>
  <body>
    <%- include('navbar', {links:links}) %>
    <h1> <%= title %></h1>
    <form action="" method="POST">
      <label for="passcode">Enter the secret passcode!</label>
      <input id="passcode" name="passcode" type="password" required />
      <button>Join</button>
    </form>
  </body>
</html>
